<div class="m-5 p-5">
  <div class="row">
    <div class="col-md-3">
      <label for="name"><b>Driver Name:</b></label> <br />
      <label for="email"><b>Driver Email:</b></label> <br />
      <label for="phone"><b>Driver Phone Number:</b></label> <br />
      <label for="country"><b>Driver Country Code:</b></label> <br />
    </div>
    <div class="col-md-3">
      <input type="text" id="name" [(ngModel)]="newDriver.name" /> <br />
      <input type="email" id="email" [(ngModel)]="newDriver.email" /> <br />
      <input type="tel" id="phone" [(ngModel)]="newDriver.phone" /> <br />
      <input type="text" id="country" [(ngModel)]="newDriver.countrycode" />
      <br />
    </div>
  </div>
  <button class="btn btn-outline-primary mb-3" (click)="addDriver()">
    {{ editing ? "Update data" : "Add data" }}
  </button>
  <p *ngIf="showErrors" class="text-danger">{{ errorMessage }}</p>
  <br />

  <select [(ngModel)]="sortField">
    <option value="NotSet" disabled selected>Select</option>
    <option value="name">Name</option>
    <option value="email">Email</option>
    <option value="phone">Phone Number</option>
    <option value="countrycode">Country Code</option>
  </select>
  <button
    class="btn btn-outline-primary"
    (click)="sortAndLoadCountries(sortField)"
  >
    Sort
  </button>

  <table *ngIf="Drivers.length" class="table table-bordered">
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Country Code</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of Drivers; let i = index">
        <td>{{ 4 * (page - 1) + i + 1 }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.email }}</td>
        <td>{{ driver.phone }}</td>
        <td>{{ driver.countrycode }}</td>
        <td>
          <button
            class="btn btn-outline-secondary"
            (click)="editDriver(driver._id)"
          >
            Edit
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="deleteDriver(driver._id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="margin-left: 340px">
    <button
      class="btn btn-primary"
      style="margin-right: 5px"
      (click)="Prev()"
      [disabled]="!canGoPrev()"
    >
      Prev
    </button>
    <button class="btn btn-primary" (click)="Next()" [disabled]="!canGoNext()">
      Next
    </button>
  </div>

  <div class="mt-5">
    <h5>Search:</h5>
    <div class="row">
      <div class="col-md-6">
        <label for=""> Parameter:</label>
        <select [(ngModel)]="searchField">
          <option value="NotSet" disabled selected>Select</option>
          <option value="name">Name</option>
          <option value="email">Email</option>
          <option value="phone">Phone Number</option>
          <option value="countrycode">Country Code</option>
        </select>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="searchText" placeholder="Search..." />
      </div>
      <div class="col-md-3">
        <button class="btn btn-outline-primary" (click)="search()">
          Search
        </button>
      </div>
    </div>
    <div *ngIf="searchResults.length > 0">
      <h5>Search Results</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Country Code</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of searchResults">
            <td>{{ driver.name }}</td>
            <td>{{ driver.email }}</td>
            <td>{{ driver.phone }}</td>
            <td>{{ driver.countrycode }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="searched && searchResults.length == 0">
      No such entries found.
    </div>
  </div>
</div>
